
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
  --head--bg: #f472b6;
  --head--text: #ffffff;

  --home--bg:#f4e2de;
  --home-text:#000000;



}

.dark {
  --head--bg: #000000; 
  --head--text: #ffffff;
  --home--bg:#3c464c;
  --home--text:var(--head--text);


}
